.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 15em 0em 15em;
  }

  .profile-pic {
    width: 50vw;
    height: auto;
    /* min-width: 25%; */
  }

  .page-header {
    font-size: 3em;
  }

/* @media screen and (max-width: 900px){
  .profile-pic {
    width: 50%;
    height: 50%;
    
  }
} */

  

