#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: row; */
}

.nav {
  display: flex;
  /* justify-content: center; */
  align-content: center;
  font-size: larger;
  flex-wrap: wrap;
  
}

.nav-item {
  margin: 3rem;
  font-size: 1.5em;
}



/* .about-me-body {
  margin-left: 50px;
} */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.footerItem{
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
}


