#root {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: solid;
  border-color: gray;
}

.header-name {
  
  margin-left: .5em;
  margin-bottom: 0;
  margin-top: .5em;
}

.Kurzawa {
  color: rgb(165, 165, 165);
}

.header-title {
  margin-top: -.5em;
}

.nav {
  color:black;
  display: flex;
  align-content: center;
  font-size: larger;
  flex-wrap: wrap;
  
}

.nav-item {
  color: black;
  margin: .5rem;
  font-size: 1em;
}

.project {
  height: 12em;
  width: 24em;
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
  -webkit-transition: all 1s ease;
}

.project:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
    overflow: visible;
    height: 12.5em;
  width: 24.5em;
}

.project-description {
  margin:1em 4em;
  height: 60px;
}

.skills {
margin-left: 3.5em;
margin-right: 3.5em;
}

.skill {
  font-size: 4em;
  margin: 0 .5em ;
  transition: all 0.3s;
  
}

.skill:hover {
  transform: scale(1.3) rotate(30deg);
  color: red;
}

.skill-name {
  margin: 0;
  padding-bottom: 5em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  height: 100px;
  background-color:rgb(70, 70, 70);
  border-top-style: solid;
  border-color: gray;
}

.footerItem{
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
}

@media screen and (max-width: 900px){
 .header {
  flex-direction: column;
 }

 .header-name {
  margin-left: 0;
  font-size: 3.5em;
 }

 .nav {
  flex-direction: column;
 }

 .nav-item {
  margin: 0;
  font-size: 1em;
}
}