#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: row; */
}

.header-name {
  
  margin-left: .5em;
  margin-bottom: 0;
  margin-top: .5em;
}

.header-title {
  margin-top: -.5em;
}

.nav {
  color:black;
  display: flex;
  /* justify-content: center; */
  align-content: center;
  font-size: larger;
  flex-wrap: wrap;
  
}

.nav-item {
  color: black;
  margin: .5rem;
  font-size: 1em;
}

.project {
  height: 12em;
  width: 24em;
}

.project-description {
  /* display: flex;
  align-content: center; */
  /* width: 70%; */
  margin:1em 4em;
  height: 60px;
}

.skills {
font-size: 3em;
margin-left: 3.5em;
margin-right: 3.5em;
}

.skill {
  margin: .5em;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.footerItem{
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
}


@media screen and (max-width: 900px){
 .header {
  /* display: flex; */
  flex-direction: column;
 }

 .header-name {
  margin-left: 0;
 }

 .nav {
  flex-direction: column;
 }

 .nav-item {
  margin: 0;
  font-size: 1em;
}

.skills {
  margin-left: 0;
  margin-right: 0;
}
}