:root {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:rgb(11, 12, 12);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: rgba(255, 255, 255, 0.732);
}

body {
  margin: 0;
}

h1 {
  font-size: 4.5em; 
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:rgb(70, 70, 70);
  cursor: pointer;
  transition: border-color 0.25s;
  width: 20%;
  text-align: center;
}
button:hover {
  border-color: red;
}
button:focus,
button:focus-visible {
  outline: 4px auto red;
}

.page-header {
  font-size: 3em;
}

@media screen and (max-width: 900px){
    button {
      width: 50%;
      text-align: center;
      color: white;
    }
}
